.quantity-input {
  display: flex;
  align-self: center;
  border: 1px solid #F09035;
  border-radius: .3125rem;
  padding: 0.25rem;
}

.quantity-input--small {
  max-width: 5.625rem;
  height: 2rem;
}

.quantity-input--standard {
  max-width: 8.75rem;
  height: 2.5rem;
}

.quantity-input__btn {
  all: unset;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity-input__btn:hover {
  cursor: pointer;
}

.quantity-input__btn:hover > svg {
  filter: brightness(1.5);
}

.quantity-input__btn > svg {
  height: 100%;
  width: 100%;
}

.quantity-input__input {
  all: unset;
  width: 100%;
  text-align: center;
  color: #4E4E4E;
}