.ingredients {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.ingredients__card {
  background: rgba(253, 215, 14, 0.2);
  padding: 0.875rem 0.5rem;
  height: 3.4375rem;
}

.ingredients__title {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #4e4e4e;
}

.ingredients__description {
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #e49700;
}

.ingredients__radio-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.ingredients__radio {
  display: flex;
  justify-content: space-between;
}
