.ingredients {
  padding: 3.2rem;
  border: 1px solid var(--gray-500);
  border-radius: 8px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.ingredients__card {
  padding: 1.6rem;
  background-color: rgba(253, 215, 14, 0.2);
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.ingredients__card__title {
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--gray-700);
}

.ingredients__card__description {
  font-size: 1.2rem;
  color: var(--yellow-700);
}


.ingredients__radio-input {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.ingredients__confirmation {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.ingredients__quantity-input {
  height: 4rem;
  width: 14rem;
}

.ingredients__btn {
  border: 0;
  background: var(--orange-300);
  border-radius: 4px;
  height: 4rem;
  width: 20rem;
  font-weight: 500;
  font-size: 1.4rem;
  color: #fff;
}

.ingredient {
  height: 9rem;
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ingredient:not(:last-child) {
  border-bottom: 1px solid var(--yellow-500);
}

.ingredient__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.ingredient__title {
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--gray-700);
}

.ingredient__price {
  font-size: 1.4rem;
  color: var(--orange-300);
}

.ingredient__quantity-input {
  width: 9rem;
}
