* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --yellow-300: #FEBC10;
  --yellow-500: #E8A634;
  --yellow-700: #E49700;

  --orange-300: #F09035;
  --orange-500: #DC6E05;

  --gray-700: #4E4E4E;
  --gray-600: #656363;
  --gray-500: #686868;
  --gray-300: #AEB6C1;
  --gray-100: #F8F8F8;
  --gray-50: #F4F4F4;

  --red-300: #D80000;
  --red-500: #ED3237;
  --red-700: #BC2E31;
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

ul, ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
  appearance: none;
}

button, input[type="button"], input[type="submit"] {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.app__main {
  width: 100%;
  max-width: 1148px;
  margin-inline: auto;
  padding-inline: 1rem;
  padding-block: 2.4rem;
}

.app__product-list {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 11.2rem;
}

@media (max-width: 1140px) {
  .app__product-list {
    flex-direction: column;
    gap: 1.6rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 425px) {
  html {
    font-size: 58%;
  }

  .app__main {
    padding-block: 1.6rem;
  }
}