.ingredient {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  height: 5.625rem;
  padding-block: 1rem;
}

.ingredient:not(:last-child) {
  border-bottom: 1px solid #E8A634;
}

.ingredient__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ingredient__title {
  font-size: 0.875rem;
  line-height: 1rem;
  color: #4E4E4E;
}

.ingredient__price {
  font-size: 0.875rem;
  line-height: 1rem;
  color: #E8A634;
}