.product {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.product__image {
  width: 8.125rem;
  height: 6rem;
  align-self: center;
}

.product__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product__title {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1rem;
  color: #4e4e4e;
}

.product__description {
  line-height: 1.25rem;
  color: #4e4e4e;
}

.product__price-group {
  display: flex;
  gap: 1rem;
}

.product__price {
  color: #e49700;
  font-size: 0.875rem;
  line-height: 1rem;
}

.product__price--line-through {
  color: #4e4e4e;
  text-decoration: line-through;
}

.product__confirmation {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.product__btn {
  border: 0;
  background: #f09035;
  border-radius: 4px;
  height: 2.5rem;
  max-width: 13.75rem;
  width: 12.1875rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 0.625rem;
  color: #fff;
}

@media (min-width: 1024px) {
  .product {
    flex-direction: row;
    margin-top: 1.5rem;
    gap: 7rem;
  }

  .product__col-1 {
    flex: 2;
  }

  .product__col-2 {
    flex: 1;
    border: 1px solid #686868;
    border-radius: 8px;
    padding: 2rem;
  }

  .product__image {
    width: 37.5rem;
    height: 24.25rem;
  }

  .product__title {
    font-size: 1.75rem;
    line-height: 1.75rem;
  }

  .product__description {
    font-size: 1.25rem;
    line-height: 1.25rem;
    margin-top: 0.625rem;
  }

  .product__price {
    font-size: 2rem;
    line-height: 2.375rem;
    margin-top: 0.625rem;
  }
}
