.product {
  margin-top: 1rem;
}

.product > .container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.product__image {
  width: 8.125rem;
  height: 6rem;
  align-self: center;
}

.product__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product__title {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1rem;
  color: #4e4e4e;
}

.product__description {
  line-height: 1.25rem;
  color: #4e4e4e;
}

.product__price-group {
  display: flex;
  gap: 1rem;
}

.product__price {
  color: #e49700;
  font-size: 0.875rem;
  line-height: 1rem;
}

.product__price--line-through {
  color: #4E4E4E;
  text-decoration: line-through;
}