.header {
  background-color: #f4f4f4;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.15));
}

.header > .container {
  display: flex;
  align-items: center;
  height: 3.5rem;
  justify-content: center;
  position: relative;
}

.header__logo {
  width: 9.375rem;
}

.header__arrow-left-icon {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  left: 1rem;
}

.header__nav {
  display: none;
}

@media (min-width: 1080px) {
  .header__arrow-left-icon {
    display: none;
  }

  .header > .container {
    height: 5rem;
    justify-content: baseline;
  }

  .header__nav {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-left: auto;
  }
  
  .header__delivery {
    height: 3rem;
    padding: .5rem;
    background-color: #fff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 14.375rem;
  }
  
  .header__delivery > div > p:nth-child(1) {
    color: #d80000;
    font-size: .75rem;
    line-height: 1.5625rem;
  }
  
  .header__delivery > div > p:nth-child(2) {
    color: #656363;
    font-weight: 700;
    font-size: .75rem;
    line-height: .75rem;
  }
  
  .header__delivery > img {
    width: 1.5rem;
    height: 1.5rem;
  }
  
  .header__search {
    border: 0;
    outline: 0;
    height: 3rem;
    padding-inline: 1rem;
    border-radius: 4px;
    color: #4e4e4e;
    width: 21.875rem;
    font-size: .875rem;
    line-height: .625rem;
  }
  
  .header__search::placeholder {
    color: #656363;
    font-size: .875rem;
    line-height: .625rem;
  }
  
  .header__search:focus {
    box-shadow: 0px 0px 0px 1px #ED3237;
  }
  
  .header__login {
    display: flex;
    align-items: center;
    gap: .5rem;
  }
  
  .header__login > img {
    width: 2rem;
    height: 2rem;
  }
  
  .header__login > p {
    line-height: 1.0625rem;
    display: flex;
    align-items: center;
    letter-spacing: .0125rem;
    color: #ED3237;
  }
  
  .header__shopping-cart {
    display: flex;
    align-items: center;
    gap: .5rem;
  }
  
  .header__shopping-cart > div {
    position: relative;
  }

  .header__shopping-cart > img {
    width: 2rem;
    height: 2rem;
  }
  
  .header__shopping-cart > p {
    line-height: 1.0625rem;
    display: flex;
    align-items: center;
    letter-spacing: .0125rem;
    color: #ED3237;
  }

  .header__cart-quantity {
    position: absolute;
    right: -8px;
    top: -8px;
    width: 16px;
    height: 16px;
    border-radius: 100px;
    background-color: #F09035;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .625rem;
    color: #fff;
  }
}
