.header {
  background-color: var(--gray-50);
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.15));
}

.header-container {
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 1.6rem;
  position: relative;
}

.header-container__left {
  height: 8rem;
  display: flex;
  align-items: center;
}

.header-container__arrow-left-icon {
  display: none;
}

.header-container__logo {
  width: 22.5rem;
  height: 4.8rem;
}

.header-container__right {
  height: 8rem;
  display: flex;
  align-items: center;
  width: 85rem;
  justify-content: space-between;
}

.header-container__delivery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  height: 4.8rem;
  width: 23rem;
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.header-container__delivery__left > p:nth-child(1) {
  font-size: 1.2rem;
  color: var(--red-300);
  margin-bottom: 0.8rem;
}

.header-container__delivery__left > p:nth-child(2) {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--gray-600);
}

.header-container__delivery__right > img {
  width: 2.4rem;
  height: 2.4rem;
}

.header-container__search-input {
  height: 4.8rem;
  width: 35.3rem;
  background-color: var(--white);
  color: var(--gray-600);
  padding: 1.6rem;
  border-radius: 4px;
  font-size: 1.4rem;
}

.header-container__search-input:focus {
  box-shadow: 0 0 0 1px var(--red-500);
}

.header-container__account {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.header-container__account > p,
.header-container__cart > p {
  color: var(--red-300);
}

.header-container__cart {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.header-container__cart > div {
  position: relative;
}

.header-container__cart-quantity {
  position: absolute;
  top: -0.8rem;
  right: -0.8rem;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background-color: var(--orange-300);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: var(--white);
}


@media (max-width: 1140px) {
  .header-container__right {
    display: none;
  }
  
  .header-container {
    justify-content: center;
  }

  .header-container__arrow-left-icon {
    display: block;
    position: absolute;
    left: 1.6rem;
  }
}