.radio-input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.label {
  display: flex;
  align-items: center;
  margin-bottom: 0.625rem;
  justify-content: space-between;
}

.radio-input__btn {
  height: 1rem;
  width: 1rem;
  border-radius: 100px;
  border: 1px solid #e49700;
  display: block;
}

input[type="radio"] + .label {
  color: #4e4e4e;
  font-size: 0.875rem;
  line-height: 1rem;
  box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.2);
}

input[type="radio"]:checked + .label .radio-input__btn {
  background: radial-gradient(circle, red 45%, transparent 50%);
}
